#map {
      width: 100%;
      height: 500px;
      background-color: lightgray;
    }

    .intro-screen {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(207, 10, 10, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      z-index: 9999;
    }

    .intro-box {
      background: rgba(201, 226, 59, 0.8);
      padding: 30px;
      border-radius: 10px;
      max-width: 400px;
      text-align: center;
    }

    .intro-box button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      background: #9e8be7ff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #inventaire {
      margin-top: 20px;
    }